/* Drill 1 - Write your code solution below */
#d1-p1{
    color: green;
}

/* Drill 2 - Write your code solution below */
#span1{
    color: rgb(243, 88, 204)
}
#span2{
    color: rgb(243, 88, 204)
}

/* Drill 3 - Write your code solution below */
#span1{
    color:red
}
#span2{
    color: goldenrod
}
#span3{
    color: blue
}
/* Drill 4 - Write your code solution below */
#first-paragraph{
    background-color: rgb(52, 152, 210);
}

/* Drill 5 - Write your code solution below */
#first-paragraph{
    background-color: peachpuff
}
#second-paragraph{
    background-color: lightcoral
}