* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: antiquewhite;
}

#navbar {
    background: linear-gradient(to bottom, rgb(22, 19, 14), #5a3f26);
    display: flex;
    align-items: center;
    font-family: Cambria;
    justify-content: center;
    
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgb(83, 201, 140);
    padding: 30px;
    align-items: center;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
    color: rgb(83, 201, 140);
}
#main-section {
    padding: 48px;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 2;
}
.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}
.side-by-side .image-container img {
    width: 100%;
}
.side-by-side .text-container h3 {
    font-size: 48px;
}
#main-section{
    font-family: Cambria;
}
#main-section a{
    color: rgb(83, 201, 140);
}
#footer {
    background: linear-gradient(to bottom, rgb(22, 19, 14),#5a3f26);
    color: white;
    padding: 12px;
}
#layout{
display: flex;
flex-direction: column;
align-items: center;
}
.first-container {
    background-color: #97785c;
    color: #42e284;
    padding: 36px 50px;
    font-family: Cambria;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Cambria;
    color:#705034;
}
.first-container h2 {
 color:#473322;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #5c4c23;
    color: #bfefff;
    padding: 48px;
     font-family: Cambria;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid #51eb94;
    padding: 36px;
    text-align: center;
    margin: 36px;
    max-width: 300px;
    background-color: #857d66;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
    color:#473322;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
.card img{
    width: 100%;
}